/* Styles for navigation bar */
.nav-bar {
    background-color: #16a34a;
    color: white;
    padding: 16px;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    gap: 16px;
  }
  
  .link {
    text-decoration: none;
    color: white;
  }
  
  .link:hover {
    text-decoration: underline;
  }