.env
.env local
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pid
*.pkl
*.egg-info
dist
build
.eggs
*.egg
*.whl
*.coverage
.coverage.*
.coverage.*html
.tox
.mypy_cache
.pytest_cache
.cache
*.swp
*.swo
*.swn
*.bak
*.orig
*.tmp
*.DS_Store
*.vscode
.idea
*.vscode-test
*.vscode-oss
*.vscode-server
*.vscode-test-server
*.vscode-test-oss